{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<!--[if lt IE 8]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ setting.title }}</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ProteusThemes">

    <!--  Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext,greek'
          rel='stylesheet' type='text/css'>

    <!-- Twitter Bootstrap -->
    <link href="{% static 'stylesheets/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'stylesheets/responsive.css' %}" rel="stylesheet">
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="{% static 'js/rs-plugin/css/settings.css' %}" type="text/css"/>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}"
          type="text/css"/>
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="{% static 'js/prettyphoto/css/prettyPhoto.css' %}" type="text/css"/>
    <!-- main styles -->

    <link href="{% static 'stylesheets/main.css' %}" rel="stylesheet">


    <!-- Modernizr -->
    <script src="{% static 'js/modernizr.custom.56918.js' %}"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch/144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch/114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch/72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch/57.png' %}">
    <link rel="shortcut icon" href="{% static 'images/apple-touch/57.png' %}">
</head>


<body class=" checkout-page">

<div class="master-wrapper">


    <div class="container">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span12">

                <div class="checkout-container">
                    <div class="row">
                        <div class="span10 offset1">

                            <!--  ==========  -->
                            <!--  = Header =  -->
                            <!--  ==========  -->
                            <header>
                                <div class="row">
                                    <div class="span2">
                                        <a href="/"><img src="{{ setting.logo.url }}" alt="{{ setting.title }}"
                                                         width="48" height="48"/></a>
                                        <br><br>
                                        <a href="/" class="title-area">خانه</a><br> <br><br>
                                        <a href="/panel" class="title-area">پنل کاربری</a> <br><br>
                                    </div>
                                    <div class="span6">
                                        <div class="center-align">
                                            <h1><span class="light">بازبینی</span> سبد خرید</h1>
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <div class="right-align">
                                            <img src="{% static 'images/buttons/security.jpg' %}" alt="Security Sign"
                                                 width="92" height="65"/>
                                        </div>
                                    </div>
                                </div>
                            </header>

                            <!--  ==========  -->
                            <!--  = Steps =  -->
                            <!--  ==========  -->
                            <div class="checkout-steps">
                                <div class="clearfix">
                                    <div class="step active">
                                        <div class="step-badge">1</div>
                                        سبد خرید
                                    </div>
                                    <div class="step">
                                        <div class="step-badge">2</div>
                                        آدرس ارسال
                                    </div>
                                </div>
                            </div> <!-- /steps -->

                            <!--  ==========  -->
                            <!--  = Selected Items =  -->
                            <!--  ==========  -->
                            <table class="table table-items">
                                <thead>
                                <tr>
                                    <th colspan="2">آیتم</th>
                                    <th>
                                        <div class="align-center">تعداد</div>
                                    </th>
                                    <th>
                                        <div class="align-right">قیمت</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                {% if order is not None and order_detail|length > 0 %}
                                    {% for detail in order_detail %}
                                        <tr>
                                            <td class="image"><a href="{{ detail.product.get_absolut_url }}"><img
                                                    src="{{ detail.product.image.url }}"
                                                    alt="{{ detail.product.title }}" width="124" height="124"/></a></td>
                                            <td class="desc">{{ detail.product.title }} &nbsp; <a
                                                    title="حذف از سبد خرید" class="icon-remove-sign"
                                                    href="/remove-item/{{ detail.id }}"></a></td>
                                            <td class="qty">
                                                {{ detail.count }}
                                            </td>
                                            <td class="price">
                                                {{ detail.price_complete }} تومان
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <div class="alert alert-warning">
                                        <p>محصولی یافت نشد.</p>
                                    </div>
                                {% endif %}

                                <tr>
                                    <td class="stronger">جمع کل :</td>
                                    <td class="stronger">
                                        <div class="size-16 align-right">{{ price_total }} تومان</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <hr/>

                            {% if order is not None and order_detail|length > 0 %}
                                <p class="right-align">
                                در مرحله بعدی شما آدرس ارسال را انتخاب خواهید کرد. &nbsp; &nbsp;
                                <a href="/order/final" class="btn btn-primary higher bold">ادامه</a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>


            </section> <!-- /main content -->

        </div>
    </div> <!-- /container -->


</div> <!-- end of master-wrapper -->


<!--  ==========  -->
<!--  = JavaScript =  -->
<!--  ==========  -->

<!--  = FB =  -->

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=126780447403102";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!--  = jQuery - CDN with local fallback =  -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>');
    }
</script>

<!--  = _ =  -->
<script src="{% static 'js/underscore/underscore-min.js' %}" type="text/javascript"></script>

<!--  = Bootstrap =  -->
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

<!--  = Slider Revolution =  -->
<script src="{% static 'js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'js/rs-plugin/js/jquery.themepunch.revolution.min.js' %}" type="text/javascript"></script>

<!--  = CarouFredSel =  -->
<script src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}" type="text/javascript"></script>

<!--  = jQuery UI =  -->
<script src="{% static 'js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-ui-1.10.3/touch-fix.min.js' %}" type="text/javascript"></script>

<!--  = Isotope =  -->
<script src="{% static 'js/isotope/jquery.isotope.min.js' %}" type="text/javascript"></script>

<!--  = Tour =  -->
<script src="{% static 'js/bootstrap-tour/build/js/bootstrap-tour.min.js' %}" type="text/javascript"></script>

<!--  = PrettyPhoto =  -->
<script src="{% static 'js/prettyphoto/js/jquery.prettyPhoto.js' %}" type="text/javascript"></script>

<!--  = Google Maps API =  -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static 'js/goMap/js/jquery.gomap-1.3.2.min.js' %}"></script>

<!--  = Custom JS =  -->
<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>

</body>
</html>


