{% comment %}
{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}

{% block content %}
    {% render_partial 'shop_account.views.user_sidebar' %}
    <form id="commentform" method="post" action="" class="form form-actions form-contact">
        {% csrf_token %}
        <p class="push-down-20">
            {{ edit_pass.password.label }}
            {{ edit_pass.password }}
            {% for error in edit_pass.passwordss.errors %}
                <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        </p>
        <p class="push-down-20">
            {{ edit_pass.re_password.label }}
            {{ edit_pass.re_password }}
            {% for error in edit_pass.re_password.errors %}
                <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        </p>

        <p>
            <button class="btn btn-primary bold" type="submit" tabindex="5" id="submit">ذخیره</button>
        </p>
    </form>
{% endblock %}{% endcomment %}
