{% load static %}
<!DOCTYPE html>
<!-- Code By Webdevtrick ( https://webdevtrick.com )-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up/Login Form</title>
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'login_register/style.css' %}">
</head>
<body>

<div class="form">

    <div id="signup">
        <h1>عضویت رایگان</h1>

        <form method="post">
            {% csrf_token %}
            <div class="top">
                <div class="label-field">
                    <span style="size: 20px; color: whitesmoke">{{ register_form.username.label }}</span>
                    {{ register_form.username }}
                    {% for error in register_form.username.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}

                </div>

            </div>

            <div class="label-field">
                <span style="size: 20px; color: whitesmoke">{{ register_form.email.label }}</span>
                {{ register_form.email }}
                {% for error in register_form.email.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}

            </div>

            <div class="label-field">
                <span style="size: 20px; color: whitesmoke">{{ register_form.password.label }}</span>
                {{ register_form.password }}
                {% for error in register_form.password.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}

            </div>

            <div class="label-field">
                <span style="size: 20px; color: whitesmoke">{{ register_form.re_password.label }}</span>
                {{ register_form.re_password }}
                {% for error in register_form.re_password.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}

            </div>

            <button type="submit" class="button button-block">ثبت نام</button>

        </form>


    </div>
    <hr>
    <div class="">
        <a href="/login">
            <button class="button button-block">ورود</button>
        </a>
    </div>

</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="{% static 'login_register/function.js' %}"></script>

</body>
</html>