<div class="container">

    <ul class="nav nav-pills">
        <li class="button button-block"><a href="/panel">پنل کاربری</a></li>
        <li class="button button-block"><a href="/panel/edit">ویرایش اطلاعات</a></li>
        {% comment %}<li class="button button-block"><a href="/panel/edit/password">ویرایش رمز </a></li>{% endcomment %}
        <li class="button button-block"><a href="/order">سبد خرید</a></li>
        <li class="button button-block"><a href="/log-out">خروج</a></li>
    </ul>

</div>