{% load static %}
<meta charset="utf-8">
    <!--  Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext,greek' rel='stylesheet' type='text/css'>

    <!-- Twitter Bootstrap -->
    <link href="{% static 'stylesheets/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'stylesheets/responsive.css' %}" rel="stylesheet">
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="{% static 'js/rs-plugin/css/settings.css' %}" type="text/css"/>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}" type="text/css"/>
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="{% static 'js/prettyphoto/css/prettyPhoto.css' %}" type="text/css"/>
    <!-- main styles -->

    <link href="{% static 'stylesheets/main.css' %}" rel="stylesheet">



    <!-- Modernizr -->
    <script src="{% static 'js/modernizr.custom.56918.js' %}"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch/144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch/114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch/72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch/57.png' %}">
    <link rel="shortcut icon" href="{% static 'images/apple-touch/57.png' %}">