<footer>

    <!--  ==========  -->
    <!--  = Upper footer =  -->
    <!--  ==========  -->
    <div class="foot-light">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h2 class="pacifico">{{ setting.title }} <img src="{{ setting.logo.url }}"
                                                                  alt="{{ setting.title }} Cart"
                                                                  class="align-baseline"/></h2>
                    <p>{{ setting.description }}</p>
                </div>
                <div class="span4">

                </div>
                <div class="span4">
                    <div class="main-titles lined">
                        <h3 class="title"><span class="light">عضویت</span> در خبرنامه</h3>
                    </div>
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9"
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate form form-inline" target="_blank" novalidate>
                            <div class="mc-field-group">
                                <input type="email" value="" placeholder="آدرس ایمیلتان را وارد کنید" name="EMAIL"
                                       class="required email" id="mce-EMAIL">
                                <input type="submit" value="ارسال" name="subscribe" id="mc-embedded-subscribe"
                                       class="btn btn-primary">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>

                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </div> <!-- /upper footer -->

    <!--  ==========  -->
    <!--  = Middle footer =  -->
    <!--  ==========  -->
    <div class="foot-dark">
        <div class="container">
            <div class="row">

                <!--  ==========  -->
                <!--  = Menu 1 =  -->
                <!--  ==========  -->
                <div class="span3">
                    <div class="main-titles lined">
                        <h3 class="title">منو ها</h3>
                    </div>
                    <ul class="nav bold">
                        <li><a href="/">خانه</a></li>
                        <li><a href="/products">محصولات</a></li>
                        <li><a href="/about-us">درباره ما</a></li>
                        <li><a href="/contact">تماس با ما</a></li>
                        <li><a href="/blog">وبلاگ</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div> <!-- /middle footer -->

    <!--  ==========  -->
    <!--  = Bottom Footer =  -->
    <!--  ==========  -->
    <div class="foot-last">
        <div class="container text-center">
            <div class="row text-center">
                <div class="span6 text-center">
                    &copy; Copyright {{ setting.copy_right }}
                </div>
            </div>
        </div>
    </div> <!-- /bottom footer -->
</footer>
